{% extends 'base.html.twig' %}

{% block title %}Index des chantiers{% endblock %}

{% block body %}
    <h1>Index des chantiers</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Commune</th>
                <th>Budget</th>
                <th>Materiaux</th>
                <th>Date de création</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for yard in yards %}
            <tr>
                <td>{{ yard.id }}</td>
                <td>{{ yard.city }}</td>
                <td>{{ yard.budget }} €</td>
                <td>{{ yard.materials ? yard.materials|join(', ') : '' }}</td>
                <td>{{ yard.projectDate ? yard.projectDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_yard_show', {'id': yard.id}) }}">Afficher</a>
                    <a href="{{ path('app_yard_edit', {'id': yard.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun devis ni facture n'existe pour le moment.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_yard_new') }}">Créer un devis</a>
{% endblock %}
