<div class="container sticky-top">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">

      <nav class="navbar navbar-expand-lg bg-body-tertiary rounded m-3 bg-nav">

        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" 
          aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('app_homepage') }}"><img 
                src="{{ asset('../assets/images/home.png') }}" alt="Home" width="36" /></a></li>
              <li class="nav-item"><a class="nav-link" href="{{ path('app_services') }}">Activités</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ path('app_jobs') }}">Chantiers</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ path('app_yard_new') }}">Demande de travaux</a></li>

              {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item"><a class="nav-link" href="{{ path('app_admin_panel') }}">Panneau 
                d'administration</a></li>
              {% endif %}

              {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-link">{{ app.user.email }}</li>
                <li><a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a></li>

              {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Se connecter</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a></li>
              {% endif %}
            </ul>

          </div>
        </div>
      </nav>

    </div>
  <div class="col-3"></div>
  </div>
</div>