{% extends 'base.html.twig' %}

{% block title %}Index des chantiers{% endblock %}

{% block body %}

<h1>Index des chantiers</h1>

<div class="table-responsive mx-auto p-2 w-50">
    <table class="table table-secondary table-hover table-sm table-align-middle text-center">
        <caption>Administration des chantiers prospects et clients</caption>
        <thead class="table-light">
        <tr>
            <th>Identifiant</th>
            <th>Commune</th>
            <th>Budget</th>
            <th>Materiaux</th>
            <th>Date de création</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for yard in yards %}
            <tr>
                <td>{{ yard.id }}</td>
                <td>{{ yard.city }}</td>
                <td>{{ yard.budget }}</td>
                <td>{{ yard.materials ? yard.materials|join(', ') : '' }}</td>
                <td>{{ yard.projectDate ? yard.projectDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_yard_admin_show', {'id': yard.id}) }}" class="btn btn-primary">Afficher</a>
                    <a href="{{ path('app_yard_admin_edit', {'id': yard.id}) }}" class="btn btn-primary">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun devis ni facture n'existe pour le moment.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <a href="{{ path('app_yard_admin_new') }}" class="btn btn-primary">Créer un devis</a>
{% endblock %}
