{% extends 'base.html.twig' %}

{% block title %}Chantier{% endblock %}

{% block body %}
    <h1>Chantier</h1>

<div class="table-responsive mx-auto p-2 w-50">
    <table class="table table-secondary table-hover table-sm table-align-middle text-center">
        <tbody>
            <tr>
                <th>Identifiant</th>
                <td>{{ yard.id }}</td>
            </tr>
            <tr>
                <th>Commune</th>
                <td>{{ yard.city }}</td>
            </tr>
            <tr>
                <th>Budget</th>
                <td>{{ yard.budget }}</td>
            </tr>
            <tr>
                <th>Matériaux</th>
                <td>{{ yard.materials ? yard.materials|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Date prévue</th>
                <td>{{ yard.projectDate ? yard.projectDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>
</div>

    <a href="{{ path('app_yard_index') }}" class="btn btn-primary mb-2">Retour à la liste</a>

    <a href="{{ path('app_yard_edit', {'id': yard.id}) }}" class="btn btn-primary mb-2">Editer</a>

    {{ include('yard/_delete_form.html.twig') }}
{% endblock %}
