{% extends 'base.html.twig' %}

{% block title %}Fil d'actualités{% endblock %}

{% block body %}
    <h1>Fil d'actualités</h1>

<div class="table-responsive mx-auto p-2 w-50">
    <table class="table table-secondary table-hover table-sm table-align-middle text-center">
        <thead class="table-light">
        <tr>
            <th>Identifiant</th>
            <th>Titre</th>
            <th>Corps du message</th>
            <th>Date de publication</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td>{{ news.id }}</td>
                <td>{{ news.title }}</td>
                <td>{{ news.body }}</td>
                <td>{{ news.postDate ? news.postDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_news_show', {'id': news.id}) }}" class="btn btn-primary mb-2">Afficher</a>
                    <a href="{{ path('app_news_edit', {'id': news.id}) }}" class="btn btn-primary mb-2">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune actualité trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <a href="{{ path('app_news_new') }}" class="btn btn-primary mb-2">Créer une actualité</a>
{% endblock %}
