{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
    <h1>Actualités</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ news.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ news.title }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ news.body }}</td>
            </tr>
            <tr>
                <th>PostDate</th>
                <td>{{ news.postDate ? news.postDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_news_index') }}">Retour à la liste</a>

    <a href="{{ path('app_news_edit', {'id': news.id}) }}">Editer</a>

    {{ include('news/_delete_form.html.twig') }}
{% endblock %}
