{% extends 'base.html.twig' %}

{% block title %}Index des types de chantier{% endblock %}

{% block body %}
    <h1>Index des types de chantier</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Type de chantier</th>
                <th>Taille d'équipe adéquate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_site in type_sites %}
            <tr>
                <td>{{ type_site.id }}</td>
                <td>{{ type_site.labelSite }}</td>
                <td>{{ type_site.teamSize }}</td>
                <td>
                    <a href="{{ path('app_type_site_admin_show', {'id': type_site.id}) }}">Afficher</a>
                    <a href="{{ path('app_type_site_admin_edit', {'id': type_site.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun type de chantier trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_type_site_admin_new') }}">Créer un type de chantier</a>
{% endblock %}
