{% extends 'base.html.twig' %}

{% block title %}Type de chantier - Détails{% endblock %}

{% block body %}
    <h1>Type de chantier - Détails</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Identifiant</th>
                <td>{{ type_site.id }}</td>
            </tr>
            <tr>
                <th>Type de chantier</th>
                <td>{{ type_site.labelSite }}</td>
            </tr>
            <tr>
                <th>Taille d'équipe adéquate</th>
                <td>{{ type_site.teamSize }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_type_site_admin_index') }}" class="btn btn-primary">Retour à la liste</a>

    <a href="{{ path('app_type_site_admin_edit', {'id': type_site.id}) }}" class="btn btn-primary">Editer</a>

    {{ include('type_site/_delete_form.html.twig') }}
{% endblock %}
